html{scroll-behavior:smooth}

/*----Navbar----*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: Black;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: black;
    text-decoration: none;
    color: grey;
    transform: scale(1.1);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    font-weight: bold;
    float: left;
    background-color: black;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/*--------------*/

body {
    background-color: Black !important;
}

.intro-container{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.intro-sub-container{
    background: linear-gradient(45deg, orange, blue);;
    width: 80%;
    border-radius: 20px;
    padding-bottom: 30px;
}

.top{
    display: flex;
}

.nom{
    font-size: 50px;
    color: black;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 2%;
}

.linkedin{
    display: flex;
    margin-right: 1%;
    background: #0e76a8;
    border-radius: 100px;
    overflow: hidden !important;
    border: white solid;
    border-width: 2px;
    height: 100%;
}

.linkedin-img{
    border-radius: 100px;
    max-width: 50px;
    height: 100%;
}

.linkedin-text{
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.linkedin:hover{
    text-decoration: none;
    background: transparent;
    border-width: 2px;
}

.description{
    font-size: 30px;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
}

.bouttons{
    display: flex;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.download{
    background-color: transparent;
    color: white;
    border-radius: 30px;
    padding: 15px;
    border: white solid;
    border-width: 2px;
    margin-right: 1%;
    margin-top: 5px;
}

.download:hover{
    background-color: black;
    color:white;
    text-decoration: none;
}

.contact{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 15px;
    border: white solid;
    border-width: 2px;
    margin-right: 1%;
}

.contact:hover{
    background-color: white;
    color:black;
    text-decoration: none;
}

a:not([href]){
    color: white !important;
}

a:not([href]):hover{
    color: black !important;
}

.contact-hide{
    display: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 15px;
    border: white solid;
    border-width: 2px;
    margin-right: 1%;
}

/*----Skils----*/

.skills{
    font-size: 50px;
    padding-top: 30px;
    color: lightgrey;
    font-weight: bold;
    text-align: center;
}

.card-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;

}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-left: 2%;
    margin-right: 2%;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #cb73ff;
    color: black;
    border-radius: 30px;
  }

  .card-title_{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
  }

  .card-img{
    margin-top: 20px;
    max-width: 100px;
    height: auto;
  }

  .card-img-back{
    margin-top: 10px;
    max-width: 72px;
    height: auto;
  }

  .card-img-back-2{
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 70px;
    height: auto;
  }

  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(255, 179, 70);
    color: white;
    border-radius: 30px;
    transform: rotateY(180deg);
  }
/*-------------*/

/*---Projects----*/

.project-container{
    padding-top: 30px;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    margin-top: 10px;
    border-radius: 20px;
    padding-bottom: 30px;
}

.project{
    background: black;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.img-project{
    margin-right: 20px;
    width: 40%;
    object-fit: cover;
}

.text-container{
    margin: 10px;
}

.title{
    font-size: 30px;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    padding-right: 20px;
}

.title-logo{
    display: flex;
}

.img-title{
    max-height: 70px;
    margin-top: -10px;
    margin-left: 70px;
}

.description-text{
    font-size: 20px;
    padding-top: 30px;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
}

.git-container{
    display: flex;
    justify-content: center;
}

.git-btn{
    background: linear-gradient(90deg, #33d5cd 0%, #5243d7 100%);
    padding: 15px;
    border-radius: 50px;
    margin-top: -10px;
    text-align: center;
    font-size: 20px;
    color: white;
    transition: 1s;
}

.git-btn:hover{
    background: linear-gradient(270deg, #33d5cd 0%, #5243d7 100%);
    color: black;
    text-decoration: none;
    transition: 1s;
}
/*---------------*/

/*-----Experience------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.exp-container{
    width: 100%;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    background: linear-gradient(to right, #ffd256, #ff5459);
    background-size: 400% 400%;
    animation: anim 2.5s infinite ease-in-out;
    justify-content: center;
    margin-top: 10px;
}

@keyframes anim {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card-exp{
    background-color: transparent;
    height: 230px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;;
    
  }

  @media screen and (max-width: 1100px) {
    .flip-card-exp-orbow{
      background-color: transparent;
      height: 350px;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 50px;;
      
    }
  }

  @media screen and (min-width: 1100px) {
    .flip-card-exp-orbow{
      background-color: transparent;
      height: 230px;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 50px;;
      
    }
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner-exp {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card-exp:hover .flip-card-inner-exp {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front-exp, .flip-card-back-exp {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front-exp {
    background-color: transparent;
    color: black;
    border-radius: 30px;
  }

  .project-exp{
    background: black;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
  }

  .card-title-exp{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
  }

  .description-text-exp{
    font-size: 18px;
    padding-top: 17px;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    text-align: left;
    padding-bottom: 30px;
  }

  .card-img-exp{
    margin-top: 20px;
    max-width: 100px;
    height: auto;
  }

  .img-project-exp {
    margin-right: 20px;
    max-width: 40%;
    }

  .card-img-back-exp{
    margin-top: 10px;
    max-width: 72px;
    height: auto;
  }

  .card-img-back-2-exp{
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 70px;
    height: auto;
  }

  
  /* Style the back side */
  .flip-card-back-exp {
    background-color: transparent;
    color: white;
    border-radius: 30px;
    transform: rotateY(180deg);
  }

  .orbow-container{
    display: flex;
    justify-content: center;
  }

.dowload-container{
  margin-bottom: 15px;
}

.download-orbow{
  background-color: transparent;
  color: white;
  border-radius: 30px;
  padding: 15px;
  border: white solid;
  border-width: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.download-orbow:hover{
  background-color: white;
  color:black;
  text-decoration: none;
}

.orbow-btn{
    background: linear-gradient(90deg, #33d5cd 0%, #5243d7 100%);
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px;
    color: white;
    transition: 1s;
}

.orbow-btn:hover{
    background: linear-gradient(270deg, #33d5cd 0%, #5243d7 100%);
    color: black;
    text-decoration: none;
    transition: 1s;
}

/*---------------------*/

.playlist{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.hobbies{
    display: block;
    max-width: 50%;
    padding-right: 60px;
}

.hobbies-title{
    color: white;
    font-size: 29px;
    font-weight: bold;
    padding-left: 10%;
}

.hobbies-text{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10%;
    padding-top: 10px;
}

.play-padding{
    padding-right: 10%;
}

/*-------contact--------*/

.bordure {
    border-bottom:1px solid white;
    }

.contact-container{
    display: flex;
    justify-content: space-between;
}

.phone{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 15%;
}

.mail{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 15%;
}

.img-contact-container{
    display: flex;
    justify-content: center;
}

.img-contact{
    max-width: 50px;
    height: auto;
}

.phone-num{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}